{% extends "base.html" %} {% block main %}

<div class="content pure-u-1 pure-u-md-3-4">

    <div class="posts">
        <h1 class="content-subhead">Recent Posts</h1>

        {% for post in posts %}

        <section class="post">
            <header class="post-header">
                <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="/img/common/{{post.post_author_id}}.jpg">

                <h2 class="post-title" ><a href="/p/{{post.post_id}}" class="title">{{post.post_title}}</a></h2>

                <p class="post-meta">
                    {{post.user_nickname}} 
                    {% for term in terms %} 
                    {% if term.term_id ==post.post_term %}
                    <a class="post-category " style=" background: {{term.term_color}}" href="/t/{{term.term_name}}/1">{{term.term_name}}</a> 
                    {%endif %} {% endfor %} 
                    {{post.post_f_date}}
                </p>
            </header>

            <div class="post-description">
                <p>
                    {{post.post_excerpt | safe}}
                </p>
            </div>
        </section>

        {% endfor %}


    </div>

    <div class="post-page">
        {% if nowPage != 1 %}
        <a class="secondary-button pure-button" href="#">上一页</a> 
        {% endif %} 
        {% if maxPage != nowPage %}
        <a class="secondary-button pure-button" href="#">下一页</a> {% endif %}
    </div>
</div>


{% endblock %}