{% extends "base.html" %} {% block main %}

<div class="content pure-u-1 pure-u-md-3-4">

    <div class="posts">

        <h1 class="content-subhead"> <a class="post-category " style=" font-size: 150%; background: #5aba59" href="#">随笔</a></h1>

        <section class="post">
            <header class="post-header">
                <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="img/common/ericf-avatar.png">

                <h2 class="post-title">Everything You Need to Know About Grunt</h2>

                <p class="post-meta">
                    Vickey <a class="post-category post-category-js" href="#">JavaScript</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section>

        <section class="post">
            <header class="post-header">
                <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="img/common/ericf-avatar.png">

                <h2 class="post-title">Everything You Need to Know About Grunt</h2>

                <p class="post-meta">
                    Vickey <a class="post-category post-category-js" href="#">JavaScript</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section>
        <section class="post">
            <header class="post-header">
                <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="img/common/ericf-avatar.png">

                <h2 class="post-title">Everything You Need to Know About Grunt</h2>

                <p class="post-meta">
                    Vickey <a class="post-category post-category-js" href="#">JavaScript</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section>

        <section class="post">
            <header class="post-header">
                <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="img/common/ericf-avatar.png">

                <h2 class="post-title">Everything You Need to Know About Grunt</h2>

                <p class="post-meta">
                    Vickey <a class="post-category post-category-js" href="#">JavaScript</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


                </p>
            </div>
        </section>
    </div>

    <div class="post-page">
        <a class="secondary-button pure-button" href="#">上一页</a>
        <a class="secondary-button pure-button" href="#">下一页</a>
    </div>
</div>

{% endblock %}